* {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)) , url(img/bg-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
    backface-visibility: hidden;
}
.contact {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url(img/bg-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	width: 500px;
	margin: auto;
	margin-top: 50px;
	padding: 10px 40px;
	font-family: vrinda;
	color: white;
	box-shadow: 0px 0px 20px black;
	border-radius: 10px;
}
.contact label {
	display: block;
	margin-top: 15px;
	font-weight: bold;
	font-size: 18px;
}
.contact input {
	display: block;
}
.contact h1 {
	text-align: center;
	font-size: 40px;
}
.common {
	width: 100%;
	padding: 13px;
	margin-top: 8px;
	box-sizing: border-box;
	height: 45px;
	border-radius: 6px;
	outline: none;
	border: 1px solid lightgray;
	font-size: 20px;
}
.contact textarea {
	height: 100px;
	font-size: 20px;
}
.contact input[type="submit"] {
	padding: 7px 25px;
	margin-top: 20px !important;
	background-color: navy;
	font-weight: bold;
	font-size: 16px;
	color: white;
	border: 1px solid navy;
	border-radius: 5px;
	transition: 0.5s;
	margin: auto;

}
.contact input[type="submit"]:hover {
	background-color: white;
	color: navy;
	transform: scale(1.2);
}
.contact input[type="submit"]:focus {
	border: none;
	outline: none;
}

